<div class="ms-5 mt-3 w-25 container">
    <form>
        <fieldset>
            <legend>Nueva categoria</legend>
            <div class="mb-3">
                <label for="nombre_categoria" class="form-label">Nombre de la categoria</label>
                <input type="text" class="form-control" id="nombre_categoria">
            </div>
            <div class="mb-3">
                <label for="desc_categoria" class="form-label">Descripcion de la categoria</label>
                <textarea class="form-control" placeholder="Describe la categoria!" id="desc_categoria"></textarea>
            </div>
            <button type="reset" class="btn btn-secondary space-right">Limpiar</button>
            <button type="submit" class="btn btn-primary" routerLink="/categoria">Añadir</button>
        </fieldset>
    </form>
</div>