<nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio"><img src="../../../assets/images/logo_template.png" alt="logo_template" width="40"
                        height="40"></a>
            </li>
            <li class="mt-2 nav-item space-left">
                <a class="nav-link" routerLink="/inicio">Inicio</a>
            </li>
            <li class="mt-2 nav-item space-left">
                <a class="nav-link" routerLink="/categoria">Categorias</a>
            </li>
        </ul>
    </div>

</nav>
